@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

// VARIABLES
$font-base: 'Maven Pro', sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;
$font-weight-bold: bold;
$font-weight-normal: normal;
$h1-font-color: #212121;
$h2-font-color: #353535;
$body-font-color: #5b5b5b;
$main-color: #ffc200;
$button-color: #474559;

// Include mixin
@mixin transition-effect {
	transition: all 0.4s ease;
}

// BODY STYLES
body {
	font-family: $font-base;
	padding-top: 70px;
}

.full-screen {
	padding: 8rem 0;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a {
	font-size: 16px;
	font-weight: $font-weight-normal;
	text-decoration: none !important;
	@include transition-effect;
	&:hover {
		color: $main-color !important;
	}
}

.navbar-brand {
	.uil {
		font-size: 40px;
	}
}

// TYPOGRAPHY
p {
	font-size: $body-font-size;
	font-weight: normal;
	line-height: 1.5;
	color: $body-font-color;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
}

h1 {
	color: $h1-font-color;
	font-size: $h1-font-size;
	margin: 24px 0;
}

h2 {
	color: $h2-font-color;
	font-size: $h2-font-size;
	font-weight: $font-weight-bold;
}

// BUTTON
.custom-btn {
	color: $body-font-color;
	font-weight: $font-weight-bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    @include transition-effect;
    &:hover {
    	color: $main-color;
    }
    &.custom-btn-bg {
    	background: $button-color;
		color: white;
		&:hover {
	    	background: $main-color;
	    	color: white !important;
	    }
    }
}

// ANIMATED TEXT
.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 250px;
    position: relative;
}

.animated-item {
	color: $main-color;
	font-size: 32px;
	line-height: inherit;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	animation: BottomTotop 6s linear infinite 0s;
	&:nth-child(2n+2) {
		animation-delay: 2s;
	}
	&:nth-child(3n+3) {
		animation-delay: 4s;
	}
}

@keyframes BottomTotop {
    0% { opacity: 0; }
    5% { opacity: 0; transform: translateY(5px); }
    10% { opacity: 1; transform: translateY(0px); }
    25% { opacity: 1; transform: translateY(0px); }
    30% { opacity: 0; transform: translateY(5px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

// MENU
.navbar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
	&[class*="-unpinned"] {
      transform: translate(0, -150%);
    }

    &[class*="-pinned"] {
      transform: translate(0, 0);
    }
}

.navbar-nav .nav-link {
	font-weight: $font-weight-bold;
	font-size: 16px;
	overflow: hidden;
}

.navbar-light {
	.navbar-nav {
		.nav-link:focus,
		.nav-link:hover {
			color: $main-color;
			font-weight: $font-weight-bold;
		}
	}
}

// CONTACT FORM
.contact-form {
	position: relative;
	.form-control {
		background: transparent;
		border-radius: 2px;
		outline: none;
		box-shadow: none;
		font-weight: $font-weight-bold;
		margin: 16px 0;
		&:not(textarea) {
			height: 48px;
		}
		&:hover,
		&:focus {
			border-color: $main-color;
		}
	}
	.submit-btn {
		background: $main-color;
		border-radius: 50px;
		color: white;
		font-weight: $font-weight-bold;
		border: 0;
		cursor: pointer;
		@include transition-effect;
		&:hover {
			background: $button-color;
		}
	}
}

// RESPONSIVE STYLES
@media (max-width: 991px) {
	.full-screen {
		padding-bottom: 4rem;
	}
	.mobile-mt-2,
	.contact-form {
		margin-top: 2em;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 2.4em;
	}

	h2 {
		font-size: 2em;
	}

	.animated-item {
		font-size: 28px;
	}

	.navbar-collapse {
		background: white;
		text-align: center;
		padding-bottom: 20px;
	}
	.navbar-expand-sm .navbar-nav .nav-link {
		padding: 3px 20px;
	}
}

@media (max-width: 580px) {
	.animated-item {
		font-size: 24px;
	}

	.custom-btn-group {
		text-align: center;
	}

	.custom-btn {
		display: block;
		margin: 10px 0;
	}
}

@media (max-width: 320px) {
	.animated-text {
		margin-top: 0;
	}

	.about-text {
		text-align: center;
	}

	.full-screen {
		padding: 4rem 0;
	}

	.contact-info {
		flex-direction: column;
	}

	.social-links {
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}
